.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4vh 2vw;
  margin: 2vh 1vw;
  border: solid black 2px;
  border-radius: 20px;
}

.card h2 {
  text-align: center;
}

.card a {
  text-decoration: none;
  color: #000
}